<!DOCTYPE html>
<html>
<head>
    <title>{{ .title }}</title>
    <link rel="icon" type="image/png" href="{{ relative "/img/shark.png" }}">
    <style>
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Sans'), local('NotoSans'), url({{ relative "/img/notosans-regular.ttf"}}) format('truetype');
}
html {
    height: 100%;
}
body {
    margin: 0;
    margin-left: 100px;
    display: grid;
    grid-template-rows: max-content auto max-content;
    height: 100%;
    max-width: 700px;
    font-family: "Noto Sans", sans-serif;
}
a, a:visited {
    color: black;
    font-weight: bolder;
}
nav {
    padding: 3em 1em;
    border-bottom: solid 2px #666;
    margin-bottom: 3em;
    word-spacing: 1em;
}
.logo {
    font-size: 200%;
    color: #2098a3;
}
article {
    text-align: justify;
}
footer {
    border-top: solid 2px #666;
    padding-top: 1em;
    margin-top: 1em;
}
.date {
    text-align: right;
    padding-bottom: 3em;
}
    </style>
</head>
<body>
    <nav>
        <span class="logo">Alicebob</span> <a href="{{ relative "/index.html" }}">home</a>
        <a href="{{ relative "/projects.html" }}">projects</a>
    </nav>
    <article>
        {{ .content }}
    </article>
    <footer></footer>
</body>
</html>
